s
prompt_toolkit
tqdm==4.61.2
requests
qrcode
colorama
pandas
opencv-python
plotly
pytube
pyttsx3
packaging
psutil
youtube_dl
matplotlib
dash
paramiko
pyfiglet
pycountry
ffmpeg
phone_iso3166
screeninfo
pyautogui
moviepy
numpy
scapy
werkzeug