tqdm
requests
qrcode
colorama
pandas
opencv-python
plotly
pytube
packaging
psutil
youtube_dl
matplotlib
dash
paramiko
pyfiglet
pycountry
ffmpeg
phone_iso3166
screeninfo
pyautogui
moviepy
numpy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability