moviepy
tqdm
requests
qrcode
colorama
pandas
opencv-python
plotly
pytube
packaging
psutil
youtube_dl
matplotlib
dash
paramiko
pyfiglet
pycountry
ffmpeg
input
mysql-connector-python
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
